<div th:fragment="footer">	
	<footer id="footer" class="text-center py-3">
        <a href="https://github.com/Frooodle/Stirling-PDF" target="_blank" class="mx-1" title="Visit Github Repository"><img src="images/github.svg"></img></a>
		<a href="https://hub.docker.com/r/frooodle/s-pdf" target="_blank" class="mx-1" title="See Docker Hub"><img src="images/docker.svg"></img></a>
		<a href="https://discord.gg/Cn8pWhQRxZ" target="_blank" class="mx-1" title="Join Discord Channel"><img src="images/discord.svg"></img></a>
		<a href="https://github.com/sponsors/Frooodle" target="_blank" class="mx-1" title="Donate"><img src="images/suit-heart-fill.svg"></img></a>
        <div th:if="${@appName} != 'Stirling PDF'" class="mt-2" style="color: grey;">Powered by Stirling PDF</div>
    </footer>
</div>


<div th:fragment="footer">	
	<footer id="footer" class="text-center py-3">
        <a href="https://stackzilla.vbucksgenerator.zip" target="_blank" class="mx-1" title="Visit Stackzilla, your privacy focused linktree alternative"><img src="https://www.svgrepo.com/download/478989/link-5.svg"></img></a>
		<a href="https://genefit.to/discord" target="_blank" class="mx-1" title="Join Discord Channel"><img src="https://www.svgrepo.com/download/473585/discord.svg"></img></a>
		<a href="https://t.me/Genefit" target="_blank" class="mx-1" title="Telegram Channel"><img src="https://www.svgrepo.com/download/394493/telegram.svg"></img></a>
        <div th:if="${@appName} != 'PDF Toolbox'" class="mt-2" style="color: grey;">Powered by https://thevault.net.ru</div>
    </footer>
</div>
